################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/MovieMunch/FileContentIndex/35cfba5c-2d8e-4a5d-be47-1939d012bad2.vsidx
/.vs/MovieMunch/FileContentIndex
